<template>
  <div id="app">
    <Loading/>
    <Navbar/>
    <div class="reddit-container">
      <router-view/>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import Navbar from '@/components/Navbar.vue';
import Loading from '@/components/Loading.vue';

export default {
  name: 'App',
  components: {
    Navbar,
    Loading, 
  },
};
</script>

<style lang="scss">
  .reddit-container {
    padding: 10px 15px;

  }
</style>
